
        
        #detailbackground{
	    background: url(../images/categoryDetail/background.jpg);
        }
        
        
        .main {
			width: 1024px;
			height: 480px;
			margin: 0 auto;
		}

		.main_1 {
			position: absolute;
			display: inline-block;
			width: 400px;
			height: 480px;
			box-shadow: 0 0 3px gray;





		}

		.main_2 {
			display: inline-block;
			width: 560px;
			height: 480px;
			margin-left: 400px;
			background: white;
			box-shadow: 0 0 3px gray;
			padding-left: 35px;
			font-family: 'Nanum Gothic', sans-serif;

		}

		#detailBtn1 {
			background: #ec5569;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 50px;
			font-size: 18px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 160px;
			margin: 0px;

		}

		#detailBtn1:hover {
			background: rgb(177, 31, 31);

		}

		#detailBtn22 {
			background: #76ca61;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 50px;
			font-size: 18px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 160px;
			margin: 0px;

		}

		#detailBtn22:hover {
			background: #4ead36;

		}


		#detailBtn3 {
			background: #51c3e6;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 50px;
			font-size: 18px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 160px;
			margin: 0px;
		}

		#detailBtn3:hover {
			background: #2aadd4;

		}
		
		#detailBtn4 {
			background: #51c3e6;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 30px;
			font-size: 14px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 100px;
			margin: 0px;
		}

		#detailBtn4:hover {
			background: #2aadd4;

		}


		#replyBtn {
			background: #51c3e6;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 30px;
			font-size: 14px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 90px;
			margin: 0px;
		}

		#replyBtn:hover {
			background: #2aadd4;

		}

		#boardButton{
			background: #51c3e6;
			color: white;
			border: none;
			border: 2px solid white;
			position: relative;
			height: 50px;
			font-size: 18px;
			cursor: pointer;
			transition: 800ms ease all;
			outline: none;
			width: 160px;
		}

		#boardButton:hover {
			background: #2aadd4;
		}

		#price {
            font-size:25px;
            color: rgb(32, 32, 32);
			font-weight: bold;
			margin-left: 20px;
		}

		#won {
			font-size: 15px;
		}

		#dt3-1,
		#dt3-2,
		#dt3-3 {
			font-size: 15px;
			margin: 3px;
		}

		#btn1,
		#btn2,
		#btn3,
		#btn4 {

			border: 0;
			outline: 0;
			width: 315px;
			height: 45px;
			background: white;
			margin: 0px;
			font-size: 16px;
			font-family: 'Nanum Gothic', sans-serif;
		}

		#btn1 {
			color: rgb(19, 95, 167);
			border-bottom: 5px solid rgb(19, 95, 167);
		}


		#btn1:hover,
		#btn2:hover,
		#btn3:hover,
		#btn4:hover {
			color: rgb(19, 95, 167);
			border-bottom: 5px solid rgb(19, 95, 167);
			transition: all .1s ease-in-out;
		}

	



        #amount1,#amount2,#amount3 {
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            padding: 17px 15px;
          }
          
          
          .top-nav .nav-box {
            float: left;
            height: 40px;
            line-height: 40px;
          }
          
          .top-nav a { margin-left: 10px; }
          
          .top-nav a:hover { color: #fff; }
          
          .med-nav {
            min-width: 1200px;
            background-color: #009dda;
           
          }
          
          .med-nav ul { overflow: hidden; }
          
          .med-nav ul li {
            float: left;
            margin-right: 10px;
          }
          
          
          
          .handle-counter { overflow: hidden;}
          
          .handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
            float: left;
			text-align: center;
          }
          
          .handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }
          
          .handle-counter input {
            width: 50px;
            height: 34px;
            border-width: 1px;
            border-left: none;
            border-right: none;
          
          }
          
          /* .btn {
            padding: 6px 12px;
            border: 1px solid transparent;
            color: #fff;
          } */
		  
		  .btn {
            padding: 6px 12px;
            border: 1px solid transparent;
            color: #fff;
          }

          .btn:disabled, .btn:disabled:hover {
            background-color: darkgrey;
            cursor: not-allowed;
          }
          
          .btn-primary { background-color: #009dda;   border-radius: 0px; border-width: 1px;}
          
          .btn-primary:hover, .btn-primary:focus { background-color: #0486b9; }
          
          select {
			width: 480px;
			height: 34px;
			border: 1px solid #999;
			font-family: inherit;
			background: url('../images/arrow.jpg') no-repeat 95% 50%;
			border-radius: 0px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			text-align: center;
			box-sizing: border-box;
			}

			#changeSelect *{
				/* color: red; */
			}
			
			#dt1,#dt2,#dt3{
				display : none;
			}
			#show2,#show3,#show4{
				display: none;
			}

			.noresize {
				resize: none; /* 사용자 임의 변경 불가 */
				resize: both; /* 사용자 변경이 모두 가능 */
				resize: horizontal; /* 좌우만 가능 */
				resize: vertical; /* 상하만 가능 */
			  }

			  .Boardcontent,.Boardcontent2{
				display:none;
				margin-left:30px;
				margin-bottom:30px;
			}
			.myButton,.myButton2{
						border: 0;
						outline: 0;
						height: 40px;
						background: white;
						color: #0486b9;
						margin-left:24px;
			}

			.star-input>.input,
			.star-input>.input>label:hover,
			.star-input>.input>input:focus+label,
			.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('../images/grade_img.png')no-repeat;}
			.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;line-height:30px;margin-left:30px;}
			.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
			.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
			star-input>.input.focus{outline:1px dotted #ddd;}
			.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
			.star-input>.input>label:hover,
			.star-input>.input>input:focus+label,
			.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
			.star-input>.input>label:hover~label{background-image: none;}
			.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
			.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
			.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
			.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
			.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
			.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}

			